doctype html
html(lang='en')
  head
    title title here
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<!-- @echo GOOGLE_ANALYTICS_TRACK_ID -->', {
        'cookieDomain': 'none'
      });
      ga('send', 'pageview');
  body
    header.header
      img.header-logo(src='https://placehold.it/200x50')
      .header-actions
        a.social-link(href='#')
          img(src='assets/ic_facebook.svg')
    .section.section-main.row.center-xs
      .main-content-wrapper
        h1.base-text.headline2
          | Entre todos llevemos un plato de comida a la mesa
        h1.base-text.headline1.orange
          | #lacomidasecomparte
        button.base-button
          | quiero participar
    .section.section-steps
      .section-content-wrapper
        h1.base-text.headline3
          | Trabajamos para que a nadie le falte un plato de comida
        p.base-text.title2.orange
          | Proyecto Alimentar es una comunidad en movimiento comprometida en resolver la contradicción entre el desperdicio y la necesidad de alimentos.
      .steps.row.around-xs
        .step.col-xs-4
          img.step-image(src='assets/img_step1.png')
          h1.base-text.headline4.upper
            | Comida a donar
          p.base-text.text1.grey
            | El donante carga el detalle de la comida a donar y el horario para ser retirada
        .step.col-xs-4
          img.step-image(src='assets/img_step2.png')
          h1.base-text.headline4.upper
            | Comida en camino
          p.base-text.text1.grey
            | De acuerdo a su localización, el voluntario recibe una alerta de la comida lista para donar y la retira
        .step.col-xs-4
          img.step-image(src='assets/img_step3.png')
          h1.base-text.headline4.upper
            | Comida entregada
          p.base-text.text1.grey
            | El voluntario entrega la comida en el comedor social mas cercano
    .section.section-volunteer.orange
      .section-content-wrapper
        h1.base-text.headline3.upper
          | Voluntario
        h2.base-text.title2.white
          | ¿Querés ayudar con la causa pero no tenés tiempo?
        p.base-text.text1
          | Proyecto Alimentar te propone ser voluntario cuando vos quieras. Podés realizar una entrega mientras vas a otro lugar. Gracias a la geolocalización podrás visualizar al donante más cercano a tu ubicación y al comedor social más próximo. Sólo es cuestión de comprometerse y sumarse al movimiento Alimentar.
    .section.section-clients
      .client-types.row.around-xs
        .client-type.donor-type.col-xs-6
          h1.base-text.headline3.orange.upper
            | Donante
          h2.base-text.title2
            | ¿Sos un ente gastronómico y tenés excedente de comida que puede ser consumida?
          p.base-text.text1
            | ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación.
        .client-type.volunteer-type.col-xs-6
          h1.base-text.headline3.orange.upper
            | Comedor
          h2.base-text.title2
            | ¿Querés sumarte a la red de comedores que reciben alimentos?
          p.base-text.text1
            | ¡Es muy simple! Inscribite a la red de comedores y comenzá a recibir los alimentos donados.
    .section
      h1.base-text.headline3
        | ¡Sumate!
      p.base-text.section-description
        | Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
      form.contact-form
        input.base-input(type='email')
        button.base-button
          | Enviar
    .section.grey
      h1.base-text.headline3
        | El problema en cifras
      .facts.row.center-xs
        .fact.col-xs-3
          h1.base-text.headline1
            | 1.500.000
          h2.base-text.title2
            | Toneladas
          p.base-text.text1
            | De comida apta para ser consumida que se desperdicia por año en Argentina.
        .fact.col-xs-3
          h1.base-text.headline1
            | 550.000
          h2.base-text.title2
            | Platos
          p.base-text.text1
            | De comida que se desperdician a diario en CABA.
        .fact.col-xs-3
          h1.base-text.headline1
            | 600.000
          h2.base-text.title2
            | Personas
          p.base-text.text1
            | Son las que concurren cada día a los centros comunitarios de todo el país.
    .section
      h1.base-text.headline3
        | Quiénes somos
      p.base-text.text2
        | Somos un grupo de jóvenes de diferentes disciplinas que busca combinar su pasión y conocimiento para generar un impacto
      .participants
        .participant
          img.participant-image(src='assets/angeles_benitez.png')
          h1.base-text.title1
            | ÁNGELES BENÍTEZ
          h2.base-text.text3
            | Reaserch
          p.base-text.text1
            | Licenciada en Comercio Internacional y Profesional Gastronómico
        .participant
          img.participant-image(src='assets/florencia_williams.png')
          h1.base-text.title1
            | FLORENCIA WILLIAMS
          h2.base-text.text3
            | Redacción legislativa
          p.base-text.text1
            | Abogada
        .participant
          img.participant-image(src='assets/leonel_badi.png')
          h1.base-text.title1
            | LEONEL BADI
          h2.base-text.text3
            | Desarrollador
          p.base-text.text1
            | Estudiante de Ingeniería en Informática ITBA
        .participant
          img.participant-image(src='assets/nicolas_buchhalter.png')
          h1.base-text.title1
            | NICOLÁS BUCHHALTER
          h2.base-text.text3
            | Desarrollador
          p.base-text.text1
            | Estudiante de Ingeniería en Informática ITBA
        .participant
          img.participant-image(src='assets/paula_albarracin.png')
          h1.base-text.title1
            | PAULA ALBARRACIN
          h2.base-text.text3
            | Research
          p.base-text.text1
            | Estudiante de Arquitectura FADU
        .participant
          img.participant-image(src='assets/rocio_rivera.png')
          h1.base-text.title1
            | ROCÍO RIVERA
          h2.base-text.text3
            | Coordinadora
          p.base-text.text1
            | Lic. en Comercialización y Lic. en Comercio Internacional.
        .participant
          img.participant-image(src='assets/sofia_mazzina.png')
          h1.base-text.title1
            | SOFIA MAZZINA
          h2.base-text.text3
            | Research
          p.base-text.text1
            | Estudiante De Psicología USAL
        .participant
          img.participant-image(src='assets/anabella_mazzuca.png')
          h1.base-text.title1
            | ANABELLA MAZZUCA
          h2.base-text.text3
            | Diseñadora
          p.base-text.text1
            | Estudiante Diseño Gráfico UBA
        .participant
          img.participant-image(src='assets/santiago_bermudez.png')
          h1.base-text.title1
            | SANTIAGO BERMÚDEZ BAGLIETTO
          h2.base-text.text3
            | Coordinador
          p.base-text.text1
            | Ingeniero en Informática ITBA
        .participant
          img.participant-image(src='assets/francisco_depascuali.png')
          h1.base-text.title1
            | FRANCISCO DEPASCUALI
          h2.base-text.text3
            | Desarrollador
          p.base-text.text1
            | Estudiante de Ingeniería en Informática ITBA
    footer.footer
      img.logo(src='https://placehold.it/200x50')
      a.social-link(href='#')
        img(src='assets/ic_facebook.svg')
      span.base-text.text2
        | info@proyectoalimentar.org

    // inject:js
    // endinject
