doctype html
html(lang='en')
  head
    title title here
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<!-- @echo GOOGLE_ANALYTICS_TRACK_ID -->', {
        'cookieDomain': 'none'
      });
      ga('send', 'pageview');
  body
    header.header
      img.header-logo(src='https://placehold.it/200x50')
      .header-actions
        a.social-link(href='#')
          img(src='assets/ic_facebook.svg')
    .section.section-main.row.center-xs
      .main-content-wrapper
        h1.base-text.headline2
          | El problema de la comida se soluciona con comida
        h1.base-text.headline1.orange
          | #lacomidanosetira
        button.base-button
          | quiero participar
    .section.section-steps
      .section-content-wrapper
        h1.base-text.headline3
          | We campaign for a world where human rights are enjoyed by all
        p.base-text.title2.orange
          | Amnesty International is a global movement of more than 7 million people in over 150 countries and territories who campaign to end abuses of human rights.
      .steps.row.around-xs
        .step.col-xs-4
          img.step-image(src='assets/img_step1.png')
          h1.base-text.headline4.upper
            | Comida a donar
          p.base-text.text1.grey
            | El donante carga el detalle de la comida a donar y el horario para ser retirada
        .step.col-xs-4
          img.step-image(src='assets/img_step2.png')
          h1.base-text.headline4.upper
            | Comida en camino
          p.base-text.text1.grey
            | El voluntario recibe un alerta de acuerdo a su localización  de la comida lista para donar y la retira
        .step.col-xs-4
          img.step-image(src='assets/img_step3.png')
          h1.base-text.headline4.upper
            | Comida entregada
          p.base-text.text1.grey
            | El voluntario entrega la comida en el comedor social mas cercano
    .section.section-volunteer.orange
      .section-content-wrapper
        h1.base-text.headline3.upper
          | Voluntario
        h2.base-text.title2.white
          | ¿Querés ayudar con la causa pero no tenés tiempo?
        p.base-text.text1
          | Proyecto Alimentar te propone realizar entregas en el tiempo en que vas a otro lugar. Ingresá a la app, chequea en el mapa cual es el ente gastronómico que tiene comida para donar y que se encuentra en el recorrido que debes hacer, elegi el comedor comunitario más cercano para entregar la donación y comprometete!
    .section.section-clients
      .client-types
        .client-type.donor-type
          .client-type-content
            h1.base-text.headline3.orange.upper
              | Donante
            h2.base-text.title2
              | ¿Sos un ente gastronómico y tenés excedente de comida que puede ser consumida?
            p.base-text.text1
              | ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación.
        .client-type.volunteer-type
          .client-type-content
            h1.base-text.headline3.orange.upper
              | Comedor
            h2.base-text.title2
              | ¿Querés sumarte a la red de comedores que reciben alimentos?
            p.base-text.text1
              | ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación.
    .section
      h1.base-text.headline3
        | ¡Sumate!
      p.base-text.section-description
        | Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
      form.contact-form
        input.base-input(type='email')
        button.base-button
          | Enviar
    .section.grey.section-facts
      h1.base-text.headline3.white
        | Lorem ipsum
      .facts.row.center-xs
        .fact.col-xs-4
          h1.base-text.headline1.orange
            | 1.500.000
          h2.base-text.title2.white
            | Toneladas
          p.base-text.text1.white
            | Cantidad de comida apta para ser consumido que se desperdicia por año en Argentina
        .fact.col-xs-4
          h1.base-text.headline1.orange
            | 550.000
          h2.base-text.title2.white
            | Platos
          p.base-text.text1.white
            | Cantidad de platos de comida que se estima se desperdician por día solo en la Ciudad Autónoma de Buenos Aires.
        .fact.col-xs-4
          h1.base-text.headline1.orange
            | 600.000
          h2.base-text.title2.white
            | Personas
          p.base-text.text1.white
            | Son las que concurren cada día a los centros comunitarios de la red de Cáritas de todo el país.
    .section.participants-section
      h1.base-text.headline3.orange
        | Quienes somos
      p.base-text.text2.grey
        | Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.
      .participants
        .participant
          img.participant-image(src='assets/angeles_benitez.png')
          h1.base-text.title1.black
            | Angeles Benitez
          h2.base-text.text3.orange
            | Reaserch
          p.base-text.text1.grey
            | fghjkl
        .participant
          img.participant-image(src='assets/florencia_williams.png')
          h1.base-text.title1.black
            | FLORENCIA WILLIAMS
          h2.base-text.text3.orange
            | Redacción legislativa
          p.base-text.text1.grey
            | Abogada
        .participant
          img.participant-image(src='assets/leonel_badi.png')
          h1.base-text.title1.black
            | LEONEL BADI
          h2.base-text.text3.orange
            | Desarrollador
          p.base-text.text1.grey
            | Estudiante de ingeniería en informática ITBA
        .participant
          img.participant-image(src='assets/nicolas_buchhalter.png')
          h1.base-text.title1.black
            | NICOLÁS BUCHHALTER
          h2.base-text.text3.orange
            | Desarrollador
          p.base-text.text1.grey
            | Estudiante de ingeniería en informática ITBA
        .participant
          img.participant-image(src='assets/paula_albarracin.png')
          h1.base-text.title1.black
            | PAULA ALBARRACIN
          h2.base-text.text3.orange
            | ?
          p.base-text.text1.grey
            | Estudiante de Arquitectura FADU
        .participant
          img.participant-image(src='assets/rocio_rivera.png')
          h1.base-text.title1.black
            | ROCÍO RIVERA
          h2.base-text.text3.orange
            | ?
          p.base-text.text1.grey
            | Lic. en Comercialización y Lic. en Comercio Internacional.
        .participant
          img.participant-image(src='assets/sofia_mazzina.png')
          h1.base-text.title1.black
            | SOFIA MAZZINA
          h2.base-text.text3.orange
            | Research
          p.base-text.text1.grey
            | Est. De Psicología USAL
        .participant
          img.participant-image(src='assets/anabella_mazzuca.png')
          h1.base-text.title1.black
            | ANABELLA MAZZUCA
          h2.base-text.text3.orange
            | Diseñadora
          p.base-text.text1.grey
            | Estudiante Diseño Gráfico UBA
        .participant
          img.participant-image(src='assets/santiago_bermudez.png')
          h1.base-text.title1.black
            | SANTIAGO BERMÚDEZ BAGLIETTO
          h2.base-text.text3.orange
            | ?
          p.base-text.text1.grey
            | ?
        .participant
          img.participant-image(src='assets/francisco_depascuali.png')
          h1.base-text.title1.black
            | FRANCISCO DEPASCUALI
          h2.base-text.text3.orange
            | Desarrollador
          p.base-text.text1.grey
            | Estudiante de ingeniería en informática ITBA
    footer.footer
      img.logo(src='https://placehold.it/200x50')
      a.social-link(href='#')
        img(src='assets/ic_facebook.svg')
      span.base-text.text2.orange
        | lorem.ipsum@loremipsum.com

    // inject:js
    // endinject
