doctype html
html(lang='en')
  head
    title title here
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<!-- @echo GOOGLE_ANALYTICS_TRACK_ID -->', {
        'cookieDomain': 'none'
      });
      ga('send', 'pageview');
  body
    header.header
      img.header-logo(src='')
      .header-actions
        a.social-link(href='#')
          | f
        button.button-base
          | sumate
    .section.section-main
      h1.main-header
        | Saber es bla, lala alimentar
    .section.section-steps
      .step
        img.step-image(src='')
        h1.step-title
          | lala
        p.step-description
          | Saber es bla, lala alimentar
      .step
        img.step-image(src='')
        h1.step-title
          | lala
        p.step-description
          | Saber es bla, lala alimentar
      .step
        img.step-image(src='')
        h1.step-title
          | lala
        p.step-description
          | Saber es bla, lala alimentar
    .section
      h1.section-title
        | lala
      p.section-description
        | ¿Sos un ente gastronómico y tenés excedente de comida que puede ser consumida? ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación. #lacomidanosetira.
    .section.clients
      .client-type
        h1.client-title
          | lala
      .client-type
        h1.client-title
          | lala
    .section
      h1.section-title
        | lala
      p.section-description
        | ¿Sos un ente gastronómico y tenés excedente de comida que puede ser consumida? ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación. #lacomidanosetira.
    .section
      h1.section-title
        | lala
      p.section-description
        | ¿Sos un ente gastronómico y tenés excedente de comida que puede ser consumida? ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación. #lacomidanosetira.
      form.contact-form
        input.input-base(type='email')
        button.button-base
    footer.footer
    // inject:js
    // endinject
