doctype html
html(lang='en')
  head
    title Proyecto Alimentar
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(content='width=1280' name='viewport')
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<!-- @echo GOOGLE_ANALYTICS_TRACK_ID -->', {
        'cookieDomain': 'none'
      });
      ga('send', 'pageview');
  body
    header.header
      img.header-logo.logo(src='assets/ic_header_logo.svg')
      .header-actions
        a.social-link(href='#')
          img(src='assets/ic_facebook.svg')
    .section.section-main
      .main-content-wrapper
        h1.base-text.headline2
          | Entre todos llevemos un plato de comida a la mesa
        h1.base-text.headline1.orange
          | #LaComidaSeComparte
        a(href='#contact-form')
          button.base-button
            | quiero participar
    .section.section-steps
      .section-content-wrapper
        h1.base-text.headline3
          | Trabajamos para que a nadie le falte un plato de comida
        p.base-text.title2.orange
          | Proyecto Alimentar es una comunidad en movimiento comprometida en resolver la contradicción entre el desperdicio y la necesidad de alimentos.
      .steps.row.around-xs
        .step.col-xs-4
          img.step-image(src='assets/img_step1.png')
          h1.base-text.headline4.upper
            | Comida a donar
          p.base-text.text1.grey
            | El donante carga el detalle de la comida a donar y el horario para ser retirada
        .step.col-xs-4
          img.step-image(src='assets/img_step2.png')
          h1.base-text.headline4.upper
            | Comida en camino
          p.base-text.text1.grey
            | De acuerdo a su localización, el voluntario recibe una alerta de la comida lista para donar y la retira
        .step.col-xs-4
          img.step-image(src='assets/img_step3.png')
          h1.base-text.headline4.upper
            | Comida entregada
          p.base-text.text1.grey
            | El voluntario entrega la comida en el comedor social mas cercano
    .section.section-volunteer.orange
      .section-content-wrapper
        h1.base-text.headline3.upper
          | Voluntario
        h2.base-text.title2.white
          | ¿Querés ayudar con la causa pero no tenés tiempo?
        p.base-text.text1
          | Proyecto Alimentar te propone ser voluntario cuando vos quieras. Podés realizar una entrega mientras vas a otro lugar. Gracias a la geolocalización podrás visualizar al donante más cercano a tu ubicación y al comedor social más próximo. Sólo es cuestión de comprometerse y sumarse al movimiento Alimentar.
    .section.section-clients
      .client-types
        .client-type.donor-type
          .client-type-content
            h1.base-text.headline3.orange.upper
              | Donante
            h2.base-text.title2
              | ¿Sos un ente gastronómico y tenés excedente de comida que puede ser consumida?
            p.base-text.text1
              | ¡No la tires! Publicá la donación en Proyecto Alimentar y un voluntario validado y certificado pasará a buscar la donación.
        .client-type.volunteer-type
          .client-type-content
            h1.base-text.headline3.orange.upper
              | Comedor
            h2.base-text.title2
              | ¿Querés sumarte a la red de comedores que reciben alimentos?
            p.base-text.text1
              | ¡Es muy simple! Inscribite a la red de comedores y comenzá a recibir los alimentos donados.
    .section.section-contact(id='contact-form')
      h1.base-text.headline3.upper
        | ¡Sumate!
      p.base-text.text2.section-description.grey
        | Si querés participar, completá el siguiente formulario o escribinos directamente a info@proyectoalimentar.org
      form.contact-form
        .input-wrapper
          label.base-text.title1.input-label
            | Nombre
          input.field.base-input(type='text')
        .input-wrapper
          label.base-text.title1.input-label
            | Email
          input.field.base-input(type='email')
        .input-wrapper-inline
          .radio-wrapper
            .radio
              input.field.radio-input(type='radio' name='type')
              .radio-container
              .radio-fill
            label.base-text.title1.radio-label
              | Voluntario
          .radio-wrapper
            .radio
              input.field.radio-input(type='radio' name='type')
              .radio-container
              .radio-fill
            label.base-text.title1.radio-label
              | Donante
          .radio-wrapper
            .radio
              input.field.radio-input(type='radio' name='type')
              .radio-container
              .radio-fill
            label.base-text.title1.radio-label
              | Comedor

        .input-wrapper
          label.base-text.title1.input-label
            | Comentario
          textarea.field.base-textarea
        button.base-button
          | Enviar
    .section.grey.section-facts
      h1.base-text.headline3.white.upper
        | El problema en cifras
      .facts.row.center-xs
        .fact.col-xs-4
          h1.base-text.headline1.orange
            | 1.500.000
          h2.base-text.title2.white
            | Toneladas
          p.base-text.text1.white
            | De comida apta para ser consumida que se desperdicia por año en Argentina.
        .fact.col-xs-4
          h1.base-text.headline1.orange
            | 550.000
          h2.base-text.title2.white
            | Platos
          p.base-text.text1.white
            | De comida que se desperdician a diario en CABA.
        .fact.col-xs-4
          h1.base-text.headline1.orange
            | 600.000
          h2.base-text.title2.white
            | Personas
          p.base-text.text1.white
            | Son las que concurren cada día a los centros comunitarios de todo el país.
    .section.participants-section
      h1.base-text.headline3.orange.upper
        | Quienes somos
      p.base-text.text2.grey
        | Somos un grupo de jóvenes de diferentes disciplinas que busca combinar su pasión y conocimiento para generar un impacto
      .participants
        .participant
          img.participant-image(src='assets/angeles_benitez.png')
          h1.base-text.title1.black
            | ÁNGELES BENIÍTEZ
          h2.base-text.text3.orange
            | Reaserch
          p.base-text.text1.grey
            | Licenciada en Comercio Internacional y Profesional Gastronómico
        .participant
          img.participant-image(src='assets/florencia_williams.png')
          h1.base-text.title1.black
            | FLORENCIA WILLIAMS
          h2.base-text.text3.orange
            | Redacción legislativa
          p.base-text.text1.grey
            | Abogada
        .participant
          img.participant-image(src='assets/leonel_badi.png')
          h1.base-text.title1.black
            | LEONEL BADI
          h2.base-text.text3.orange
            | Desarrollador
          p.base-text.text1.grey
            | Estudiante de Ingeniería en Informática ITBA
        .participant
          img.participant-image(src='assets/nicolas_buchhalter.png')
          h1.base-text.title1.black
            | NICOLÁS BUCHHALTER
          h2.base-text.text3.orange
            | Desarrollador
          p.base-text.text1.grey
            | Estudiante de Ingeniería en Informática ITBA
        .participant
          img.participant-image(src='assets/paula_albarracin.png')
          h1.base-text.title1.black
            | PAULA ALBARRACIN
          h2.base-text.text3.orange
            | Research
          p.base-text.text1.grey
            | Estudiante de Arquitectura FADU
        .participant
          img.participant-image(src='assets/rocio_rivera.png')
          h1.base-text.title1.black
            | ROCÍO RIVERA
          h2.base-text.text3.orange
            | Coordinadora
          p.base-text.text1.grey
            | Lic. en Comercialización y Lic. en Comercio Internacional.
        .participant
          img.participant-image(src='assets/sofia_mazzina.png')
          h1.base-text.title1.black
            | SOFIA MAZZINA
          h2.base-text.text3.orange
            | Research
          p.base-text.text1.grey
            | Estudiante De Psicología USAL
        .participant
          img.participant-image(src='assets/anabella_mazzuca.png')
          h1.base-text.title1.black
            | ANABELLA MAZZUCA
          h2.base-text.text3.orange
            | Diseñadora
          p.base-text.text1.grey
            | Estudiante Diseño Gráfico UBA
        .participant
          img.participant-image(src='assets/santiago_bermudez.png')
          h1.base-text.title1.black
            | SANTIAGO BERMÚDEZ BAGLIETTO
          h2.base-text.text3.orange
            | Coordinador
          p.base-text.text1.grey
            | Ingeniero en Informática ITBA
        .participant
          img.participant-image(src='assets/francisco_depascuali.png')
          h1.base-text.title1.black
            | FRANCISCO DEPASCUALI
          h2.base-text.text3.orange
            | Desarrollador
          p.base-text.text1.grey
            | Estudiante de Ingeniería en Informática ITBA
    footer.footer
      img.logo(src='assets/ic_header_logo.svg')
      a.social-link(href='#')
        img(src='assets/ic_facebook.svg')
      span.base-text.text2.orange
        | info@proyectoalimentar.org

    // inject:js
    // endinject
