@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Oswald:400,700);

// text

.base-text {
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  &.white {
    color: $white;
  }

  &.black {
    color: $black;
  }

  &.grey {
    color: $grey;
  }

  &.orange {
    color: $orange1;
  }

  &.upper {
    text-transform: uppercase;
  }
}

.headline1 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  line-height: 90px;
}

.headline2 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  line-height: 70px;
}

.headline3 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  line-height: 40px;
}

.headline4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bolder;
}

.title1 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.title2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.text1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.text3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

// input

.field {
  border: 2px solid $orange1;
  box-sizing: border-box;
  width: 100%;
}

.base-input {
  height: 50px;
}

.base-textarea {
  height: 120px;
  resize: none;
}

// button

.base-button,
.base-button:active {
  background: $orange1;
  color: $white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  height: 50px;
  min-width: 240px;
  padding: 0 15px;
  text-transform: uppercase;
  border: 0;

  &:focus {
    background: $orange2;
  }
}

// radio

.radio {
  width: $radio-size;
  height: $radio-size;
  position: relative;
  display: inline-block;
}

.radio-input {
  opacity: 0;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.radio-container {
  border-radius: 100%;
  border: 2px solid $radio-border;
  background: $radio-background;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 0;
}

.radio-fill {
  background: $radio-fill;
  width: 0;
  height: 0;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-in, height 0.2s ease-in;
  pointer-events: none;
  z-index: 1;
}

.radio-input:checked ~ .radio-fill {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  transition: width 0.2s ease-out, height 0.2s ease-out;
}
